<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767219078548-6v5kuka4e0lq57maqhtq2vc2q7u8rrop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767219078548-6v5kuka4e0lq57maqhtq2vc2q7u8rrop</string>
	<key>API_KEY</key>
	<string>AIzaSyBqf3YvDEkKtBXf0FBYZCzhO2IsfuGi8eY</string>
	<key>GCM_SENDER_ID</key>
	<string>767219078548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appcoda.ARQUI-Hardcopi</string>
	<key>PROJECT_ID</key>
	<string>hardcopi-f78b6</string>
	<key>STORAGE_BUCKET</key>
	<string>hardcopi-f78b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767219078548:ios:af9590f84fe3511e8f2b81</string>
</dict>
</plist>